<div class="product-card h-100">

    <!-- Badges -->
    {% if produit.prix_promo %}
    <span class="badge-promo">
        -{{ produit.pourcentage_reduction }}%
    </span>
    {% endif %}

    {% if produit.est_disponible %}
    <span class="badge-stock">
        En stock
    </span>
    {% endif %}

    <button type="button" class="wishlist-btn {% if produit.id in wishlist_ids %}active{% endif %}"
        data-url="{% url 'catalogue:ajouter_favori' produit.id %}">

        <i class="bi {% if produit.id in wishlist_ids %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>

    </button>

    <!-- Image -->
    <a href="{% url 'catalogue:detail_produit' produit.id produit.slug %}" class="product-image-wrapper">

        {% if produit.image %}
        {% if produit.image.url %}
        <img src="{{ produit.image.url }}" alt="{{ produit.nom }}">
        {% else %}
        <img src="{{ produit.image }}" alt="{{ produit.nom }}">
        {% endif %}
        {% else %}
        <img src="https://placehold.co/500x500?text={{ produit.nom|urlencode }}" alt="{{ produit.nom }}">
        {% endif %}

    </a>

    <!-- Content -->
    <div class="product-info">

        <span class="product-brand">
            {{ produit.marque }}
        </span>

        <h5 class="product-title">
            <a href="{% url 'catalogue:detail_produit' produit.id produit.slug %}">
                {{ produit.nom }}
            </a>
        </h5>

        <!-- Rating -->
        <div class="product-rating">

            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>

            <span>(4.8)</span>

        </div>

        <!-- Price -->
        <div class="product-price-box">

            {% if produit.prix_promo %}

            <span class="price-old">
                {{ produit.prix }} MAD
            </span>

            <span class="price-current">
                {{ produit.prix_promo }} MAD
            </span>

            {% else %}

            <span class="price-current">
                {{ produit.prix }} MAD
            </span>

            {% endif %}

        </div>

        <!-- Button -->
        {% if produit.est_disponible and produit.stock > 0 %}

        <form action="{% url 'panier:ajouter' produit.id %}" method="POST">

            {% csrf_token %}

            <input type="hidden" name="quantite" value="1">

            <button class="btn-add-cart">

                <i class="bi bi-cart3"></i>

                Ajouter au panier

            </button>

        </form>

        {% else %}

        <button class="btn-out-stock">

            Rupture de stock

        </button>

        {% endif %}

    </div>

</div>